#ignoring object files
*.o

#ignoring executables
/Exercise1/Exercise1
/Exercise2/Exercise2
/Exercise3/Exercise3
/Exercise4/Exercise4
/Exercise5/Exercise5
/Exercise6/Exercise6
/Exercise7/Exercise7
/Exercise8/Exercise8
/Exercise9/Exercise9
/Exercise10/Exercise10

#ignoring TestFolders because I really don't need them or their files in git

/TestFolder
/TestFolder2

#ignoring IDE stuff
.idea
/.idea
